[
  {
    "mysqlConfig": {
      "MYSQL_HOST": "",
      "MYSQL_PORT": "",
      "MYSQL_USERNAME": "",
      "MYSQL_PASSWORD": "",
      "MYSQL_DATABASE": ""
    },
    "surrealConfig": {
      "SURREAL_URL": "",
      "SURREAL_NAMESPACE": "",
      "SURREAL_DB_NAME": "",
      "SURREAL_DB_USERNAME": "",
      "SURREAL_DB_PASSWORD": ""
    },
    "cron": "* * * * *"
  }
]
