{
  "serverConfig":[
    {
      "mysqlConfig": {
        "MYSQL_HOST": "",
        "MYSQL_PORT": "",
        "MYSQL_USERNAME": "",
        "MYSQL_PASSWORD": "",
        "MYSQL_DATABASE": ""
      },
      "fileServerType":"TYPE1",
      "fileServerConfig":{
        "url":"",
        "token":"",
      },
      "name":"",
      "cron": "* * * * *"
    }
  ]
}