name: Go package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.5'

      - name: Build
        run: go build -v ./...
      - name: Build Servers
        run: | 
          go build -v -ldflags "-s -w" ./servers/bullion/main-server/main.go
          go build -v -ldflags "-s -w" ./servers/jwelly/mysql-to-surreal/main.go
          go build -v -ldflags "-s -w" ./servers/jwelly/main-server/main.go
          go build -v -ldflags "-s -w" ./servers/jwelly/mysql-backup/main.go
          go build -v -ldflags "-s -w" ./servers/jwelly/mysql-to-mysql/main.go
          go build -v -ldflags "-s -w" ./servers/link-shortner/main.go
          go build -v -ldflags "-s -w" ./servers/whatsapp-server/main.go
          go build -v -ldflags "-s -w" ./servers/http-dump/dump-server/main.go
